.navbar{

    position:sticky;

    top:0;

    z-index:1000;

    backdrop-filter:blur(18px);

    background:rgba(11,17,32,.85);

    border-bottom:1px solid var(--border);

}

.navbar-content{

    display:flex;

    justify-content:space-between;

    align-items:center;

    height:72px;

}

.logo{

    display:flex;

    gap:.6rem;

    align-items:center;

    font-size:1.3rem;

    font-weight:700;

}

.logo-accent{

    color:var(--primary);

}

.nav-links{

    display:flex;

    list-style:none;

    gap:2rem;

}

.nav-links a{

    color:var(--text-light);

    transition:.25s;

    position:relative;

}

.nav-links a:hover{

    color:var(--primary);

}

.nav-links a::after{

    content:"";

    position:absolute;

    left:0;

    bottom:-6px;

    width:0;

    height:2px;

    background:var(--primary);

    transition:.25s;

}

.nav-links a:hover::after{

    width:100%;

}

.nav-links .active{

    color:var(--primary);

}

.nav-links .active::after{

    width:100%;

}