h1{

    font-size:4rem;

    line-height:1;

}

h2{

    font-size:2.4rem;

    margin-bottom:2rem;

}

h3{

    font-size:1.3rem;

}

p{

    color:var(--text-light);

}

.subtitle{

    color:var(--primary);

    text-transform:uppercase;

    letter-spacing:.2rem;

    font-size:.8rem;

    margin-bottom:1rem;

}